/* commna css strat */
#part3 {
  display: flex;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0%;
  padding: 0%;
}
a {
  text-decoration: none;
}

/* comman css end */
footer {
  height: ;
  width: auto;
  overflow: ;
  object-fit: ;
  object-position: ;
  padding-top: ;
  aspect-ratio: ;
  transform: ;
  clip-path: ;
}
